<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/authen.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <br><br>
        <div class="box-form">
            <div class="left">
                <div class="overlay">
                <h1>Changing Password?</h1>
                <p>You are on this page because you have successfully followed the link we sent to your email.</p>
                </div>
            </div>
            
            <div class="right">
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>

                <br>

                <p>Type in a new password. Password must be a combination of letters and numbers ONLY.</p>
                <form class="login-form" action="/new-password" method="POST">
                    <div class="inputs">
                        <input
                        placeholder="New Password"
                        type="password" 
                        name="password" 
                        id="password">
        
                        <br>
                        <br>
                        <input type="hidden" name="userId" value="<%= userId %>">
                        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </div>
                    <button type="submit">Update Password</button>
                </form>	
            </div>
        </div>

    </main>
<%- include('../includes/end.ejs') %>