<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
            <div class="cards">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                            <a href="/products/<%= product._id %>" class="card" title="Click to view more delineils on product">
                            <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="card__image" />
                            <div class="card__overlay">
                                <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                                <img class="card__thumb" src="<%= product.imageUrl %>" alt="<%= product.title %>" />
                                <div class="card__header-text">
                                    <h3 class="card__title"><%= product.title %></h3>            
                                    <span class="card__status">$ <%= product.price %></span>
                                </div>
                                </div>
                                <p class="card__description"><%= product.description %></p>
        
                                <% if (isAuthenticated) { %>
                                    <div class="addToCart" title="Click to add product to Cart">
                                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                    </div>
                                <% } %><br>
                            </div>
                            </a>      
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1 class="no-product">No Products Found!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>