<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/prod-detail.css">
<link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="wrapper">
            <div class="product-img">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>" height="450" width="474">
            </div>
            <div class="product-info">
                <div class="product-text">
                    <h1><%= product.title %></h1>
                    <p><%= product.description %></p>
                </div>
                <div class="product-price-btn">
                    <p>$<span><%= product.price %></span></p>
            
                    <% if (isAuthenticated) { %>
                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                    <% } %>
                </div>
            </div>
        </div>   
        <%- include('../includes/end.ejs') %>